@import url("https://fonts.googleapis.com/css?family=Trirong");

/* header styling starts */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trirong';

}
.header{
  position: fixed;
  width: 100%;
  height: 15%;
  padding-top: 50px;
  display: flex;
  z-index: 10;
  justify-content: center;
  align-items: center;
  background: #02023b;
}
.logo{
  color: #fff;
  display: block;
  width: 100%;
}
.logo img{
  padding: 5px;
  padding-top: 20px;
  height: 100px;
  width: 120px;
}
.logo h1{
  font-size: 35px;
}
.logo p{
  font-size: 18px;
  position: relative;
  left: 120px;
  bottom: 50px;
  font-style: italic;
}
.navlinks{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  z-index: 1;
  transition: 0.5s;
}
.menu li{
  list-style: none;
}
.menu li a{
  color: #fff;
  width: 140px;
  text-decoration: none;
  display: block;
  padding: 40px 20px;
  font-size: 18px;
  line-height: 1;
  transition: 0.3s;
}
.menu li a:hover{
  box-shadow: 0 -5px 0px #fff inset,
  500px 0 0 rgba(255,255,255,0.03) inset;
  padding: 35px 20px 20px 25px ;
  cursor: pointer;
}

.hamburger{
  position: relative;
  top: 0px;
  left: 0px;
  width:30px;
  height: 4px;
  background:#fff;
  border-radius: 10px;
  cursor: pointer;
  z-index: 2;
  transition: 0.3s;
}
.hamburger::before, .hamburger::after{
  content: '';
  position: absolute;
  height: 4px;
  right: 0;
  background: #fff;
  border-radius: 10px;
  transition: 0.3s;
}
.hamburger::before{
  top: -10px;
  width: 20px;
}
.hamburger::after{
  top: 10px;
  width: 20px;
}
.toggle-menu{
  position: absolute;
  width: 30px;
  height: 10%;
  z-index: 3;
  cursor: pointer;
  opacity: 0;
}
.hamburger,.toggle-menu{
display: none;
}
.navlinks input:checked ~ .hamburger{
  background: transparent;
}
.navlinks input:checked ~ .hamburger::before{
  top:0;
  transform: rotate(-45deg);
  width: 30px;
  transition: all ease-in-out 0.2s;
}
.navlinks input:checked ~ .hamburger::after{
  top:0;
  transform: rotate(45deg);
  width: 30px;
  transition: all ease-in-out 0.2s;
}
.navlinks input:checked ~ .menu{
  right: -20px;
  box-shadow: -20px 0  40px rgba(0,0,0,0.3);
}


  /* header styling ends */


/* Wave Background styling starts */
*{
  margin: 0px;
  padding: 0px;
}
.waveback{
  position: relative;
  width: 100%;
  height: 43rem;
  background: linear-gradient(-50deg, #58c3ff 0, #004de6 40%, #003bb1 100%);
  overflow: hidden;
}
.waveback .wave{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100px;
  background: url(../Assets/wave2.png);
  background-size: 1000px 100px;
}
.waveback .wave.wave1{
  animation: animate 30s linear infinite;
  z-index: 1000px;
  opacity: 0.8;
  animation-delay: 0s;
}
.waveback .wave.wave2{
  animation: animate2 15s linear infinite;
  z-index: 999px;
  opacity: 0.5;
  animation-delay: -5s;
}
.waveback .wave.wave3{
  animation: animate 30s linear infinite;
  z-index: 998px;
  opacity: 0.2;
  animation-delay: -2s;
}
.waveback .wave.wave4{
  animation: animate2 10s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  z-index: 9;
}
@keyframes animate{
  0%{
      background-position-x: 0px;
  }
  100%{
      background-position-x: 1000px;
  }
}
@keyframes animate2{
  0%{
      background-position-x: 0px;
  }
  100%{
      background-position-x: -1000px;
  }
}

/* Wave Background styling ends */

/* Home styling starts*/
.start{
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.orange{
  color: #f1321d;
}
.banleft h2{
  width: 650px;
  margin-left: 80px;
  font-size: 36px;
  letter-spacing: 2px;
  line-height: 50px;
  text-align: left;
  margin-top: 80px;
  color: white;
}
.banleft p{
  color: white;
  width: 620px;
  font-size: 20px;
  line-height: 38px;
  text-transform: capitalize;
  margin-top: 20px;
  margin-left: 80px;
}
.button a{
  font-size: 14px;
  text-decoration: none;
  color: white;
  background: #02023b;
  padding: 15px 20px;
  border-radius: 8px;
  margin-left: 80px;
  transition: all 0.5s ease-in-out ;
}
.button a:hover{
  background: #f1321d;
}

.exp{
  height: 386px;
  width: 570px;
  margin-top: 60px;
  margin-right: 50px;
}

/* Home styling ends */

/* Services styling starts */

#Services{
  background: #f6f6f6;
  padding-left: 80px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.serv{
  padding-top: 40px;
}
.serv h2{
  font-size: 30px;
  text-align: center;
  color: #1a0f33;
}
.serv p{
  text-align: left;
  font-size: 18px;
}
.courses{
  margin-left: 120px;
  margin-right: 120px;
  text-align: center;
}
.first, .second, .third{
  display: flex;
  justify-content: space-between;
}
.asserv{
  height: 100px;
  margin-top: 20px;
}
.bascomp, .ms, .graphic, .web, .UI, .network, .strain, .sofdev, .mobdev, .siwes{
  background: #ffff;
}
.col{
  margin-bottom: 40px;
  border: 1px solid #f1f1f1;
  box-shadow: 5px 5px 10px 0 rgb(0 0 0 / 10%);
  border-radius: 8px;
  width: 280px;
  height: 280px;
  transition: all 0.5s ease-in-out;
}
.col:hover{
  border: 1px solid #003bb1;
  transform: rotate(5deg);
}
.col h6{
  margin-top: 15px;
  text-transform: uppercase;
  font-size: 16px;
  color: #02023b;
  margin: 10px 0px;
}
.col p{
  margin-left: 10px;
  margin-right: 10px;
  text-transform: capitalize;
  font-size: 14px;
  color: #4a3d55;
  line-height: 28px;

}
.lastc .col{
  height: 280px;
  width: 380px;
  position: relative;
  left: 320px;
}
/* Services styling ends */

/* About styling starts */

#About{
  background: #ffff;
  padding-top: 40px;
  padding-left: 60px;
  padding-right: 120px;
  padding-bottom: 20px;

}
.describe h1, .team h2{
  color: #02023b;
}
.describe h1{
  font-size: 30px;
}
.describe p{
  color:#4a3d55;
  line-height: 28px;
  font-size: 16px;
}

.backline{
  width: 250px;
  height: 300px;
}
.int{
  position: relative;
  left: 252px;
  bottom: 25px;
}
.team h2{
  padding-top: 20px;
  font-size: 27px;
}
.teamcontent{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.oga h3, .log h3, .oga h4, .log h4{
  position: relative;
  margin-top: -20px;
  color: #02023b
}
.oga h3{
  left:260px;
}
.log h3{
  left: 200px;
}
.oga h4{
  left:350px;
  margin-top: -25px;
}
.log h4{
  left: 265px;
  margin-top: -25px;
}
.oga, .log{
  position: relative;
  right: 100px;
  top: 30px;
}

/* About styling ends */

/* Contact styling starts */

#contactUs{
  background: #b4c4e4 url(../Assets/slant.png);
  margin-top: 40px;
  padding-bottom: 50px;
}
.contacthead h1{
  font-size: 30px;
  color: #ffff;
  background: #004de6;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}
.details{
  text-align: center;
}
.details .leave, .details .cont{
  font-size: 25px;
}
.details .leave::after{
  content: '';
  position: absolute;
  height: 4px;
  width: 300px;
  margin-top: 40px;
  right: 525px;
  border-radius: 4px;
  background: #004de6;
}
.details .cont::after{
  content: '';
  position: absolute;
  height: 4px;
  width: 250px;
  margin-top: 40px;
  right: 550px;
  border-radius: 4px;
  background: #004de6;
}
.details p{
  font-size: 16px;
  color: black;
}
.details ol{
  list-style: none;
}
.submit{
  padding: 10px 50px;
  border-radius: 4px;
  text-align: center;
}
.submit a{
  background: #02023b;
  color: #f1f1f1;
  cursor: pointer;
  text-decoration: none;
}

/* Contact styling ends */

/* footer styling starts */
#footer{
  background-image: url(../Assets/footer.png);
  padding-bottom: 40px;
}
.abt{
  padding-left: 80px;
  width: 450px;
}
.abt h3, .add h3{
  width: 100px;
}
.end h3{
  text-align: center;
  color: #02023b;
  border-bottom: 3px solid #004de6;
  border-radius: 3px;
}
.abt p{
  font-size: 15px;
  color: #4a3d55;
}
.end{
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}
.quick ol{
  list-style: none;
}
.quick ol a{
  text-decoration: none;
  color: #4a3d55;
  font-size: 15px;
  transition: all ease-in-out 0.2s;
}
.quick ol a:hover{
  color: black;
}
.add ol{
  list-style: none;
}
.add{
  padding-right: 50px;
}
.add p{
  margin-left: -27px;
  text-transform: capitalize;
  width: 300px;
  font-size: 15px;
  color: #4a3d55;
}

/* footer styling ends */



/* Media Queries */

@media screen and (max-width:1200px) {
  .waveback{
    position: relative;
    width: 103.25%;
    height: 43rem;
  }

  .header{
    margin-bottom: -60px;
    width: 103.25%;

  }
  .logo h1{
    font-size: 30px;
  }
  .menu{
    margin-right: 20px;
  }
  .menu li a{
    width: 140px;
    padding: 0px 0px;
    font-size: 17px;
  }
  .menu li a:hover{
    box-shadow: 0 -5px 0px #fff inset,
    300px 0 0 rgba(255,255,255,0.03) inset;
    padding: 25px;
    cursor: pointer;
  }

  /* Services 1200px MQ starts */

   #Services{
    width: 103.25%;
  }
  .lastc .col{
    width: 370px;
    left: 265px;
  }

  /* Services 1200px MQ ends */

  /* About 1200px MQ starts */

  #About{
    width: 100%;
  }
  .describe h1{
    font-size: 35px;
  }
  .describe p{
    width: 110%;
    font-size: 17px;
  }
  .team h2{
    font-size: 28px;
  }
  .teamcontent{
    margin-top: 20px;
  }
  /* About 1200px MQ ends */

  /* Contact 1200px MQ starts */

   #contactUs{
    width: 103.25%;
    padding-bottom: 30px;
  }
  .details .leave::after{
    right: 430px;

  }
  .details .cont::after{
    right: 455px;
  }

  /* Contact 1200px MQ ends */

   /* footer 1200px MQ starts */

   #footer{
    width: 103.25%;
  }

    /* footer 1200px MQ ends */

}



@media screen and (max-width:1024px) {
  .waveback{
    position: relative;
    width: 119.7%;
    height: 44rem;
  }
    /* Head 1024px MQ Starts */
  #head{
    width: 116%;
  }
  .menu li a{
    color: #fff;
    width: 140px;
    text-decoration: none;
    display: block;
    padding: 40px 20px;
    font-size: 18px;
    line-height: 1;
    transition: 0.3s;
  }
  .menu li a:hover{
    box-shadow: 0 -5px 0px #fff inset,
    500px 0 0 rgba(255,255,255,0.03) inset;
    padding: 35px 20px 27px 25px ;
    cursor: pointer;
  }
    /* Head 1024px MQ ends */

    /* Home 1024px MQ starts*/

  .start{
    justify-content: space-between;
  }
  .banleft h2{
    width: 600px;
    margin-left: 80px;
  }
  .banleft p{
    width: 550px;
    font-size: 18px;
    margin-left: 80px;
    padding-bottom: 20px;
  }
  .button a{
    font-size: 17px;
    margin-left: 80px;

  }
  .exp{
    height: 300px;
    width: 480px;
    margin-top: 80px;
  }

    /* Home 1024px MQ ends */

    /* Services 1024px MQ starts */

  #Services{
    width: 119.7%;
  }
  .serv h2{
    font-size: 35px;
  }
  .serv p{
    font-size: 20px;
  }
  .courses{
    margin-left: 50px;
    margin-right: 50px;
  }
  .col p{
    font-size: 17px;
  }
  .lastc .col{
    width: 370px;
    left: 330px;
  }
    /* Services 1024px MQ ends */

    /* About 1024px MQ starts */

  #About{
    width: 115%;
  }
  .describe h1{
    font-size: 40px;
  }
  .describe p{
    font-size: 20px;
  }
  .team h2{
    font-size: 35px;
  }
  .backline{
    position: relative;
    left: 252px;
  }
  .int{
    position: absolute;
    bottom: 75px;
    z-index: 9;
  }
  .teamcontent{
    position: relative;
    justify-content: space-between;
    margin-top: 50px;
  }
  .oga h3, .log h3, .oga h4, .log h4{
    margin-top: 5px;
  }
  .oga h4, .log h4{
    margin-top: -30px;
  }
  .oga, .log{
    position: relative;
    right: 100px;
    top: 30px;
  }

    /* About 1024px MQ ends */

    /* Contact 1024px MQ starts */

  #contactUs{
    width: 119.7%;
    margin-top: 30px;
    padding-bottom: 30px;
  }
  .details{
    padding-left: 60px;
  }
  .details p{
    font-size: 20px;
  }
  .details .leave::after{
    right: 235px;
    background: #004de6;
  }
  .details .cont::after{
    right: 255px;
    background: #004de6;
  }
  .submit a{
    font-size: 18px;
  }

    /* Contact 1024px MQ ends */

    /* footer 1024px MQ starts */
  #footer{
    width: 119.7%;
  }
  .abt{
    width: 500px;
    padding-left: 60px;
  }
  .abt p, .quick ol a, .add p{
    font-size: 18px;
  }
  .add ol{
    list-style: none;
  }
  .add{
    padding-right: 50px;
  }
  .add p{
    margin-left: -25px;
  }
    /* footer 1024px MQ ends */

}

@media screen and (max-width:768px){
  .waveback{
    position: relative;
    width: 128.2%;
    height: 40rem;
  }
  /* Head 768px MQ Starts */

  .header{
    width: 110.6%;
  }
  .logo h1{
    font-size: 45px;
  }
  .logo p{
    font-size: 25px;
  }
  .hamburger,.toggle-menu{
    margin-top: -60px;
    margin-right: 140px;
    display: block;
  }
  .menu{
    justify-content: start;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0px;
    right: -270px;
    width: 250px;
    height: 100%;
    top: 0px;
    background: #02023b;
    padding-top: 115px;

  }
  .menu li{
    width: 100%;
  }
  .menu li a{
    width: 200px;
    padding: 30px;
    font-size: 24px;
    box-shadow: 0 1px 0 rgba(255,255,255,0.1) inset;
  }
  .menu li a:hover{
    box-shadow: 0 1px 0 #fff inset,
    500px 0 0 rgba(255,255,255,0.03) inset;
    padding: 30px;
    cursor: pointer;
  }

    /* Head 768px MQ ends */

    /* Home 768px MQ starts*/

  .banleft h2{
    margin-top: 60px;
    font-size: 42px;
    letter-spacing: 2px;
    width: 800px;

  }
  .banleft p{
    margin-top: 40px;
    width: 460px;
    font-size: 18px;
    line-height: 35px;
    font-weight: 500;
  }
  .exp{
    height: 280px;
    width: 420px;
    position:relative;
    top: 80px;
    right: 350px;
  }

    /* Home 768px MQ ends */

    /* Services 768px MQ starts */

  #Services{
    width: 128%;
  }
  .serv p{
    font-size: 19px;
  }
  .courses{
    margin-left: 30px;
    margin-right: 30px;
  }
  .col{
    height: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .col p{
    font-size: 15px;
  }
  .lastc .col{
    width: 370px;
    left: 216px;
  }
    /* Services 768px MQ ends */

    /* About 768px MQ starts */

  #About{
    width: 125%;

  }
  .describe p{
    line-height: 30px;
  }
  .oga, .log{
    right: 120px;
  }

    /* About 768px MQ ends */

    /* Contact 768px MQ starts */

  #contactUs{
    width: 128.2%;
    padding-bottom: 40px;
  }
  .details p{
    font-size: 18px;
  }
  .details .leave::after{
    right: 100px;
    background: #004de6;
  }
  .details .cont::after{
    right: 125px;
    background: #004de6;
  }
  .submit a{
    font-size: 18px;
  }
    /* Contact 768px MQ ends */

    /* footer 768px MQ starts */
  #footer{
    width: 128.2%;
  }
  .abt{
    padding-left: 60px;
    width: 350px;
  }
  .abt p{
    font-size: 17px;
  }
  .add{
    padding-right: 10px;
  }

    /* footer 768px MQ ends */
}

@media screen and (max-width:577px){
  .waveback{
    width: 177.3%;
  }
  .header{
    height: 12%;
  }
  .logo h1{
    font-size: 47px;
  }
  .banleft p{
    width:500px;
    font-size: 20px;
    line-height: 36px;
  }
  .exp{
    height: 270px;
    width: 450px;
    position: relative;
    top: 80px;
    right: 300px;
  }
  .button a{
    font-size: 20px;
  }
  .menu{
    width:300px;
    height: 100%;
    right: -320px;
    padding-top: 140px;
  }
  .menu li a{
    width: 200px;
    font-size: 27px;
  }

  #Services{
    width: 177.3%;
  }
  .serv p{
    font-size: 22px;
  }
  .courses{
    margin-left: 20px;
    margin-right: 30px;
  }
  .col{
    height: 300px;
    width: 420px;
  }
  .col p{
    font-size: 18px;

  }
  .lastc .col{
    height: 300px;
    left: 240px;
  }

  #About{
    width: 177.3%;
  }
  .describe p{
    font-size: 25px;
    line-height: 37px;
  }
  .log{
    right: 150px;
  }
  .oga{
    right:170px
  }

  #contactUs{
    width: 177.3%;
    padding-bottom: 30px;
  }
  .details p{
    font-size: 20px;
  }
  .details .leave::after{
    right: -115px;
    background: #004de6;
  }
  .details .cont::after{
    right: -90px;
    background: #004de6;
  }
  .submit a{
    font-size: 19px;
  }
  #footer{
    width: 177.3%;
  }
  .abt{
    width: 420px;
  }
  .abt p{
    font-size: 18.5px;
  }
}

@media screen and (max-width:480px){
  .waveback{
    width: 205%;
    height: 48rem;
  }

  /* Head 480px MQ Starts */
  #head{
    width: 205%;
  }
  .header{
    position: fixed;
    height: 12%;
    width: 100%;
    background: rgb(2, 2, 59);
  }
  .hamburger,.toggle-menu{
    display: block;
    margin-top: -60px;
    margin-right: 60px;
  }
  .menu{
    width: 350px;
    right: -370px;
    background: rgb(2, 2, 59);
    padding-top: 140px;

  }
  .menu li a{
    width: 200px;
    padding: 30px;
    font-size: 27px;
    box-shadow: 0 1px 0 rgba(255,255,255,0.1) inset;
  }
  .menu li a:hover{
    box-shadow: 0 1px 0 #fff inset,
    500px 0 0 rgba(255,255,255,0.03) inset;
    padding: 30px;
    cursor: pointer;
  }
    /* Head 480px MQ ends */

    /* Home 480px MQ starts*/

  .banleft h2{
    margin-top: 90px;
    font-size: 45px;
    letter-spacing: 0px;
    width: 800px;

  }
  .banleft p{
    width:510px;
    margin-top: 50px;
    font-size: 22px;
    line-height: 40px;
  }
  .button a{
    font-size: 22px;
  }
  .exp{
    height: 300px;
    width: 470px;
    margin-top: 100px;
    right: 350px;
  }

    /* Home 480px MQ ends */

    /* Services 480px MQ starts */

  #Services{
    width: 205%;
    height: 138rem;
  }
  .serv h2{
    font-size: 50px;
    text-align: center;
    color: #02023b;
  }
  .serv p{
    font-size: 27px;
    line-height: 38px;
    padding-bottom:20px ;
  }
  .first, .second, .third{
    display: flex;
    flex-direction: column;
  }
  .courses{
    align-items: center;
  }
  .col{
    height: 320px;
    width: 400px;
    margin-bottom: 15px;
  }
  .col h6{
    color: #02023b;
    font-size: 24px;
  }
  .col p{
    font-size: 24px;
    color: #4a3d55;
  }
  .first .ms,    .lastc .siwes{
    position: relative;
    left: 430px;
    bottom: 337px;
  }
  .first .graphic{
    position: relative;
    bottom: 325px;
  }
  .second .UI{
    position: relative;
    left: 430px;
    bottom: 660px;
  }
  .second .web{
    position: relative;
    bottom: 650px;
  }
  .second .network{
    position: relative;
    left: 430px;
    bottom: 61.7rem;
  }
  .third .sofdev{
    position: relative;
    bottom: 60.8rem;
  }
  .third .mobdev{
    position: relative;
    left: 430px;
    bottom: 81.9rem;
  }
  .third .strain{
    position: relative;
    bottom: 81rem;
  }
  .lastc .siwes{
    position: relative;
    left: 430px;
    bottom: 101.9rem;
    height: 400px;
    width: 400px
  }
    /* Services 480px MQ ends */

    /* About 480px MQ starts */

  #About{
    width: 205%;
  }
  .describe h1{
    font-size: 50px;
  }
  .describe p{
    font-size: 30px;
    line-height: 50px;
  }
  .team h2{
    font-size: 40px;
  }
  .teamcontent{
    margin-top: 50px;
  }
  .log{
    right: 150px;
  }
  .oga{
    right:150px
  }

    /* About 480px MQ ends */

    /* Contact 480px MQ starts */

  #contactUs{
    width: 205%;
    padding-bottom: 30px;
  }
  .contacthead h1{
    font-size: 40px;
  }
  .details p{
    font-size: 22px;
  }
  .details .leave::after{
    right: -185px;
  }
  .details .cont::after{
    right: -165px;
  }
  .submit a{
    font-size: 20px;
  }

    /* Contact 480px MQ ends */

    /* footer 480px MQ starts */
  #footer{
    width: 205%;
  }
  .abt{
    padding-left: 60px;
    width: 400px;
  }
  .abt p{
    font-size: 20px;
  }
  .add{
    padding-right: 10px;
  }

    /* footer 480px MQ ends */
}

@media screen and (max-width:425px){
  .waveback{
    width: 221%;
    height: 46rem;
  }
  .header{
    height: 8%;
  }
  .exp{
    right: 370px;
  }
  #Services{
    width: 221%;
    height: 140rem;
  }
  .courses{
   margin-left: 0px;
  }
  .col{
    width: 390px;
  }
  .lastc .siwes{
    width: 390px;
  }
  #About{
    width: 221%;
  }
  #contactUs{
    width: 221%;
  }
  .details p{
    font-size: 24px;
  }
  .details .leave::after{
    right: -215px;
    background: #004de6;
  }
  .details .cont::after{
    right: -200px;
    background: #004de6;
  }
  .submit a{
    font-size: 22px;
  }
  #footer{
    width: 221%;
  }




}
@media screen and (max-width:421px){
  .waveback{
    width: 221%;
    height: 48rem;
  }
  .hamburger,.toggle-menu{
    margin-right: 35px;
  }
  .logo p{
    font-size: 30px;
  }
  .menu{
    width: 320px;
    right: -340px;
    background: rgb(2, 2, 59);
    padding-top: 140px;

  }
  .menu li a{
    width: 220px;
    padding: 30px;
    font-size: 30px;
    box-shadow: 0 1px 0 rgba(255,255,255,0.1) inset;
  }

  .banleft p{
    width:480px;
    font-size: 24px;
  }
  .exp{
    width: 450px;
    right: 360px;
  }
  #Services{
    width: 221%;
    height: 140rem;
  }
  .courses{
    margin-left: 10px;
    text-align: center;
  }
  .col{
    margin-bottom: 17px;
    width: 390px;
  }
  .first .ms,    .lastc .siwes{
    position: relative;
    left: 420px;
    bottom: 337px;
  }
  .second .UI{
    position: relative;
    left: 420px;
    bottom: 660px;
  }
  .second .network{
    position: relative;
    left: 420px;
    bottom: 61.5rem;
  }
  .third .mobdev{
    position: relative;
    left: 420px;
    bottom: 81.9rem;
  }
  .lastc .siwes{
    position: relative;
    left: 420px;
    bottom: 101.9rem;
    height: 400px;
    width: 390px
  }
  #About{
    width: 221%;
  }
  .describe h1{
    font-size: 55px;
  }
  .describe p{
    font-size: 35px;
    line-height: 55px;
  }
  .team h2{
    font-size: 45px;
  }
  .teamcontent{
    margin-top: 50px;
  }
  .log{
    right: 150px;
  }
  .oga{
    right:150px
  }
  #contactUs{
    width: 221%;
  }
  .details p{
    font-size: 26px;
  }
  .details .leave, .details .cont{
    font-size: 27px;
  }
  .details .leave::after{
    right: -220px;
  }
  .details .cont::after{
    right: -200px;
  }
  .submit a{
    font-size: 24px;
  }
  #footer{
    width: 221%;
  }
  .abt{
    padding-left: 60px;
    width: 450px;
  }
  .abt p{
    font-size: 22px;
  }
  .abt h3, .add h3{
    width: 120px;
  }
  .end h3{
    font-size: 25px;
    text-align: center;
    color: #02023b;
    border-bottom: 3px solid #004de6;
    border-radius: 3px;
  }
  .quick ol a{
    font-size: 20px;
  }
  .quick ol a:hover{
    color: #02023b;
  }
  .add p{
    margin-left: -24px;
    font-size: 19px;
  }
  .add{
    padding-right: 8px;
  }
}
@media screen and (max-width:413px){
  .courses{
    margin-left: 0px;
  }
}
@media screen and (max-width:407px){
 .col{
  width: 380px;
 }
 .lastc .siwes{
  width: 380px;
 }
 .detials p{
  font-size: 26px;
 }
 .details .leave, .details .cont{
  font-size: 28px;
}
 .abt{
  padding-left: 60px;
  width: 400px;
}
 .add{
  padding-right: 0px;
}


}


@media screen and (max-width:375px){
  .waveback{
    width: 237.2%;
    height: 47.5rem;
  }
  .header{
    height: 10%;
  }
  .banleft p{
    width: 440px;
  }
  .exp{
    right: 400px;
  }
  #Services{
    width: 237.2%;
  }
  .col{
    width: 370px;
  }
  .first .ms,    .lastc .siwes{
    left: 400px;
  }
  .second .UI{
    left: 400px;
  }
  .second .network{
    left: 400px;
  }
  .third .mobdev{
    left: 400px;
  }
  .lastc .siwes{
    position: relative;
    left: 400px;
    bottom: 101.9rem;
    height: 400px;
    width: 370px
  }
  #About{
    width: 225%;
  }
  .describe p{
    font-size: 40px;
    line-height: 60px;
  }
  .log{
    right: 100px;
  }
  .oga{
    right:180px
  }
  #contactUs{
    width: 237.2%;
  }
  .details p{
    font-size: 26px;
  }
  .details .leave, .details .cont{
    font-size: 28px;
  }
  .details .leave::after{
    right: -245px;
  }
  .details .cont::after{
    right: -220px;
  }
  .submit a{
    font-size: 25px;
  }
  
  #footer{
    width: 237.2%;
  }
}

@media screen and (max-width: 320px){
  .waveback{
    width: 283%;
    height: 48rem;
  }
  .header{
    height: 8%;
  }
  .hamburger, .toggle-menu{
    margin-right: 30px;
  }
  .banleft p{
    width: 400px;
  }
  .exp{
    right: 420px;
  }
  .button a{
    font-size: 27px;
  }
  #Services{
    width: 283%;
  }
  .serv p{
    font-size: 30px;
  }
  #About{
    width: 258%;
  }
  .describe p{
    width: 130%;
    font-size: 41px;
    letter-spacing: 1px;
  }
  .log{
    right: 100px;
  }
  .oga{
    right:180px
  }
  #contactUs{
    width: 283%;
  }
  .details .leave::after{
    right: -308px;
  }
  .details .cont::after{
    right: -285px;
  }
  .submit a{
    font-size: 26px;
  }
  #footer{
    width: 283%;
  }
  .abt p, .quick li a{
    font-size: 23px;
  }
  .add{
    padding-right: 32px;
  }
  .add p{
    font-size: 22px;
  }
}